:root{
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
    background-repeat: no-repeat;
    font-family: 'Space Grotesk', sans-serif;
    font-style: 10px;
    --text-color-first:  #FFFFFF;
    --text-color-second: #000000;
}
p{
    margin: 0;
}

a{
    text-decoration: none;
}

.content{
    width: 80%;
    font-weight: 700;
    background-color: var(--text-color-first);
    margin: 0 auto;
    display: flex;
    margin: 5% auto 18%;
}

.left-part{
    width: 56%;
}

.logo{
    font-size: 1.8vw;
    /* line-height: 2.4rem; */
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 2% 0 8% 5%;
}

.subtitle{
    text-align: center;
    font-size: 1.6vw;
    line-height: 3.6rem;
}

.forms{
    width: 60%;
    margin: 0 auto 1rem;
    color: var(--text-color-second);
    font-weight: 400;
    font-size: 1.2vw;
    /* line-height: 2.4rem; */
}

.forms p{
    display: flex;
    flex-direction: column;
}


.forms input{
    font-size: .9vw;
    line-height: 1.6rem;
    border: .1rem solid #CCCCCC;
    border-radius: .4rem;    
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 1.5%;
}

::placeholder{
    color: #CCCCCC;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 0.9vw;
    line-height: 1.6rem;
    border: none;
}

.password::placeholder {
    font-size: 4vw;
}

.password-note{
    color: #A8A8A8;
    font-size: .8vw;
    
}

.location{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto 15%;
}

.location label{
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 2.4rem;
}

.location span{
    font-weight: 400;
    font-size: .9vw;
    line-height: 1.6rem;
    color: #A8A8A8;
}

.location input{
    border: .1rem solid #CCCCCC;
    border-radius: .4rem;  
    padding: 1.5%;
}

.sign-up{
    font-size: 1.2vw;
    line-height: 2.4rem;
    color: var(--text-color-first);
    background: #27485D;
    border: .1rem solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: .4rem;
    width: 60%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 1%;
}

.sign-up:hover{
    color: #27485D;
    background: var(--text-color-first);
}

.login{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 1.2vw;
    line-height: 2.4rem;
}

.login p{
    margin: 0 1rem;
    font-size: 1.2vw;
    line-height: 2.4rem;
    color: #C4C4C4;
    
}

.login a{
    color: #476D73;
    text-decoration: underline;
}

.login a:hover{
    color:#0a2333; 
}

.right-part{
    width: 44%;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
    padding: .5rem;
}

.nav{
    display: flex;
    justify-content: end;
    margin: 1% 2% 40% 0;
}

.nav button{
    border: none;
    background: none;
    font-family: 'Space Grotesk', sans-serif;
    color: var(--text-color-first);
    text-align: right;
    cursor: pointer;
    font-weight: 700;
    padding-left: 5%;
    font-size: 1.2vw;
    line-height: 2.4rem;
}

.nav button:hover{
    text-decoration: underline;
}

.quote{
    width: 80%;
    margin: 0 auto;
    color: var(--text-color-first);
}

.quote-text{
    font-size: 3.6vw;
    opacity: 0.9;
}

.quote-author{
    font-size: 1.2vw;
}

