html{
    font-size: 10px;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.main{
    max-width: 100vw;
}

.section{
    max-width: 100vw;
    background: #FBE4FF;
    margin: 0 auto;
    position: relative;
}

.header{
    width: 100%;
    background-color: #243B93;
    height: max-content;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
   
}

nav{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img{
    width: 10vw;
}

.nav-menu {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
     margin: 0;
}

.nav-menu li{
    width: 28%;
    list-style-type: none; 
}

.nav-menu a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1vw;
    letter-spacing: 0.16em;
    margin: 0 auto;
}  

.language{
    display: flex;
    align-items: center;
}

.language img{
    width: 4.5vw;
}

.language p{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7vw;
    padding-left: 1rem;
}

.offer__title {
    font-style: italic;
    font-size: 2.3vw;
    color: #202846;
    margin-bottom: 27px;
    padding: 1.6rem 0 1.6rem 15%; 
    background: #BFF0FF;
}

.place__box{
    width: 72%;
    margin: 0 auto;
}

.place{
    background-color: #FFFFFF;
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
    margin: 1.5% auto;
    position: relative;
    padding: 1% 0;
}

.place p{
    color: rgba(0, 0, 0, 0.61);
    margin: 0;
}

.place img{
    position: absolute;
    right: 1.5%;
    bottom: 25%;
    width: 2vw;
    height: auto;
}

.card{
    width: 70%;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%); 
    margin: 0 auto;
    display: flex;
    padding:  1% 1% 2%;
    position: relative;
    margin-bottom: 2%;
}

.card__photo{
    margin: 1.5% 2% 0 2.5%;
    width: 40%;
}

.card__photo  img{
    width: 100%;
}

.card__text{
    width: 52%;
    display: flex;
    flex-direction: column;
}

.card__title{
    font-style: italic;
    font-weight: 700;
    font-size: 2vw;
    color: #353C57;
    margin-bottom: 1%;
    border-bottom: .3rem solid #fff;
    text-transform: capitalize;
}

.card__title p{
    margin: 1.7% 0 1%;
}

.card__description {
    font-size: 1.2vw;
    color: #202846;
    background-color: #EDFBFF;
    text-align: left;
    padding: 2% 4% 2% 3%;
    height: 65%;
    overflow: hidden;
}

.card__description p{
    margin: 0;
}

.card__mark svg{
   height: 2.5vw;
}

.card__mark{
    position: absolute;
    top: 3%;
    right: .5%;
}

.card__button{
    border-radius: 3rem;
    font-size: 1.2vw;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    border: none;
    padding: .8% 3.6%;
    position: absolute;
    top: 82%;
    left: 86.2%;
    cursor: pointer;
    background: #243B93;
}

.card:hover{
    box-shadow: 0px 0px 6rem .4rem #2CBDEB;
}

.card:hover .card__button{
    background: #EF075B;
}

.card:hover svg *{
    fill:#FFF500;
}

.arrow{
    background: rgba(48, 12, 106, 0.3);
    border-radius: 50%;
    border: none;
    position: fixed;
    display: flex;
    align-items: center;
    right: 5%;
    bottom: 3%;
}

.arrow svg{
    height: 2.5vw;
    margin: 1.5vw 2vw;
}

.title__office,
.title__contacts{
    font-style: italic;
    font-weight: 400;
    font-size: 2.3vw;
    color: #243B93;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    padding: 1.6rem 0 1.6rem 15%;
    margin-bottom: 2%;
}

.office__body{
    width: 72%;
    text-align: center;
    margin: 2% auto 1%;
}

.card__office{
    background:linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%; 
}

.avatar__img{
    width: 45%;
    margin: 3% 0%;
}

.avatar img{
    width: 100%;
    margin: 10% 0;
}

.avatar__change,
.avatar__set{
    width: 60%;
    display: inline;
    margin: 1.5% 0;
}

.button__office,
.button__office__set{
    border-radius: 3rem;
    font-size: 1.2vw;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    border: none;
    cursor: pointer;
    background: #243B93;
    padding: 5% 20%;
}

.button__office:hover,
.button__office__set:hover,
.button__go__out:hover{
    background: #EF075B;
}
    
.poll{
    width: 60%;
    font-style: italic;
    font-weight: 400;
    font-size: 2vw;
    text-align: left;
    color: #353C57;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.poll span{
    font-weight: 700;
}

.poll p{
    padding-bottom: 2%;
    margin: 0 0 4%;
}

.underline{
    border-bottom:.3rem solid #FFFFFF;
}

.button__go__out{
    font-weight: 400;
    font-size: 1.3vw;
    color: #FFFFFF;
    background: #243B93;
    border-radius: 3rem;
    font-family: 'PT Sans', sans-serif;
    border: none;
    cursor: pointer;
    padding: 1% 5%;
    text-transform: uppercase;
    display: block;
    margin: 2% auto;
}

.title__contacts {
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    margin-bottom: 0;
}

.contacts__body{
    width: 70%;
    text-align: center;
    margin:0 auto;
}

.contact__container{
    display: flex;
    justify-content: space-between;
    padding: 2% 0%;
}

.contacts__left{
    display: flex;
    justify-content: space-between;
    width: 55%;
    text-align: left;
}

.contacts__left p{
    margin: 0;
}

.box1{
    width: 55%;
}

.contact__tel{
    width: 69%;
    padding-bottom: 6%;
}
.contact__adress{
    padding-top: 4%;
}

.box2{
    width: 35%;
}

.name__contacts{
    font-weight: 400;
    font-size: 1.8vw;
    color: #000;
    border-bottom: .3rem solid #000;
}

.text__contacts{
    font-weight: 400;
    font-size: 1.5vw;
    color: #000;
}

.contacts-right{
    width: 38%;
    height: 15vw;
}

.contacts-right iframe{
    width: 100%;
    height: 100%;
    border: 0.3rem solid rgba(36, 59, 147, 1);
    border-radius: 4rem;
}

.footer{
    background: #243B93;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1vw;
    letter-spacing: 0.16em;
    padding: 1.7rem 0 1.1rem 15%;
    margin-bottom: 2.5rem;
}

.footer span{
    padding-right: 2rem;
}
