@media screen and (max-width:1380px) {
    .bgi{
        right: -4.5%;
    }
    .bgi img{
        width: 92%;
    }
}
@media screen and (max-width:1330px) {
    .container{
        width: 72%;
    }
    .top h1{
        width: 40%;
        font-size: 4.8rem;
    }
    .box img{
        position: absolute;
        top: 2%;
        right: -1%;
    }
    .radio-btn label{
        padding: 1.5rem 1rem;
    }
    .bgi{
        right: -5.5%;
    }
    .bgi img{
        width: 90%;
    }
}
@media screen and (max-width:1275px) {
    .radio-btn label{
        padding: 1.5rem 1rem;
    }
    .questionary span{
        font-size: 1rem;
    }
    .bgi{
        right: -7.5%;
    }
    .bgi img{
        width: 87%;
    }
}
@media screen and (max-width:1245px) {
    .container{
        width: 70%;
    }
    .top h1{
        width: 38%;
        font-size: 4.2rem;
    }
    .top p{
        width: 38%;
        font-size: 1.2rem;
    }
    .box img{
        position: absolute;
        top: 2%;
        right: -1%;
    }
    .radio-btn label{
        padding: 1.5rem 1rem;
    }
    .questionary label{
        font-size: 1rem;
    }
    .bgi{
        right: -9%;
    }
    .bgi img{
        width: 85%;
    }
}
@media screen and (max-width:1190px) {
    .container{
        width: 68%;
    }
    .top h1{
        width: 37%;
        font-size: 4rem;
    }
    .top p{
        width: 37%;
        font-size: 1.1rem;
    }
    .box img{
        position: absolute;
        top: 2%;
        right: -3%;
    }
    .radio-btn label{
        padding: 1.5rem 1rem;
    }
    .questionary label{
        font-size: 1rem;
    }
    .bottom{
        font-size: 1.1rem;
    }
    .bgi{
        right: -11%;
    }
    .bgi img{
        width: 82%;
    }
}
@media screen and (max-width:1140px) {
    .questionary input{
        padding-left: 1rem;
    }
    .title-radio{
        display: none;
    }
    .bgi{
        right: -13%;
    }
    .bgi img{
        width: 80%;
    }
}
@media screen and (max-width:1090px) {
    .bgi{
        right: -17%;
    }
    .bgi img{
        width: 75%;
    }
}
@media screen and (max-width:1010px) {
    .bgi{
        right: -20%;
    }
    .bgi img{
        width: 72%;
    }
}
@media screen and (max-width:992px) {
    .wrapper{
        background-color: var(--bg-right-color);
    }
    .left{
        width: 100%;
    }
    .top h1 {
        width: 45%;
        font-size: 5.4rem;
    }
    .top p{
        width: 45%;
        font-size: 1.4rem;
    }
    .questionary label{
        font-size: 1.2rem;
    }
    .box img{
        position: absolute;
        top: 2%;
        right: 2%;
    }
    .title-radio{
        display: inline-block;
    }
    .radio-btn label{
        background: var(--bg-left-color);
    }
    .bottom{
        font-size: 1.4rem;
    }
    .right{
        display: none;
    }
    .bgi{
        display: none;
    }
}
@media screen and (max-width:850px) {
    .top h1 {
        font-size: 5rem;
    }
    .top p{
        width: 45%;
        font-size: 1.2rem;
    }
}
@media screen and (max-width:768px) {
    .top h1 {
        width: 40%;
        font-size: 4.2rem;
    }
    .top p{
        width: 40%;
        font-size: 1.1rem;
    }
    .box img{
        position: absolute;
        top: 2%;
        right: 1%;
    }
    .title-radio{
        display: none;
    }
    .radio-btn label{
        padding: 1.5rem .5rem;  
    }
}
@media screen and (max-width:600px) {
    .top{
        display: block;
    }
    .top h1 {
        width: 100%;
        font-size: 4.2rem;
        margin-bottom: 2rem;
    }
    .top p{
        width: 100%;
        font-size: 1.4rem;
    }
    .row{
        display: block;
    }
    .box{
        width: 100%;
        margin-bottom: 2rem;
    }
    .box img{
        position: absolute;
        top: 2%;
        right: 4%;
    }
    .title-radio{
        display:inline-block;
    }
    .radio-btn{
        width: 97%;
    }
    .radio-btn label{
        padding: 1.5rem;  
    }
}
@media screen and (max-width:520px){
    .bottom{
        display: block;
        
    }
    .checkbox{
        margin-bottom: 2rem;
        justify-content: center;
    }
    .btn{
        width: 90%;
        display: block;
        margin: 0 auto;
        font-size: 1.6rem;
    }
}