h2, p, ul{
    margin: 0;
    padding: 0;
}
:root{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    --main-bg:#FFB084;
    --bg-color: #fff;
    --text-color: #000;
    --goals-color: #29A71E;
    --frustrations-color:#E13535;
    --dreams-color:#3675B0;

}

section{
    background:var(--main-bg);
    border-radius: 2rem;
    padding: 3rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 2.2fr 1.8fr 1.8fr;
    grid-gap: 2rem 2.5rem;
}

section > div{
    font-size: 1.4rem;
    background-color: var(--bg-color);
    border-radius: 2rem;
    padding: 1.5rem 2.5rem 1rem;
    box-shadow: 7px 7px 0px #000000;
}
section h2{
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}
section ul{
    padding-left: 2rem;

}
.name{
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.name h2{
    font-size: 2.4rem;
    text-align: center;
}

.name img{
    width: 50%;
    margin: 1rem auto 2rem;
}

.name div{
    display: flex;
    justify-content: space-between;
}

.name span{
    font-weight: 600;
}

.name p{
    margin-bottom: 1.4rem;
}

.bio{
    grid-column: 2/-1;
}

.goals{
    box-shadow: 7px 7px 0px var(--goals-color);
}
.goals h2{
    color: var(--goals-color);
}

.frustrations{
    grid-column-start: 3;
    grid-row: 2/4;
    box-shadow: 7px 7px 0px var(--frustrations-color);
}

.frustrations h2{
    color: var(--frustrations-color);
}

.dreams{
    grid-row: 3/5;
    box-shadow: 7px 7px 0px var(--dreams-color);
}

.dreams h2{
    color: var(--dreams-color);
}

.motto{
    font-size: 1.4rem;
    font-weight: 700;
    grid-template-rows: 20rem;
    display: flex;
    align-items: center;
}

@media screen and (min-width:900px){
    :root{
        font-size: 11px;
    }
}

@media screen and (min-width:1150px){
    :root{
        font-size: 12px;
    }
    section{
        margin: 0 10rem;
    }
}

@media screen and (min-width:1400px){
    :root{
        font-size: 14px;
        line-height: 2rem;
    }
    .name img{
        width: 60%;
    }
}

@media screen and (min-width:1700px){
    :root{
        font-size: 16px;
    }
}