body{
    margin: 0;
}

.page{
    min-width: 1000px;
    max-width: 1200px;
}

.header{
    width: 100%;
    min-height: 550px;
    background-image:url(../img/надпис.png), 
                     url(../img/фон.png);
    background-repeat: no-repeat;
    background-size: 65%, 100% 100%;
    background-position: 50% 30%, 0 0;
    margin-bottom: 32px;
}

.menu{
    text-align: center;
    margin-bottom: 40px;
    margin-left: 40px;
    width: 90%;
}

.menu a{
    display: inline-block;
    text-align: center;
}

.menu-title{
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 32px 15px;
    text-align: left;
}

.box{
    max-width: 335px;
    min-height: 385px;
    background-color: #231B0C;
    margin: 0 11px;
    overflow: hidden;
}

.box-title-first{
    padding-top: 35px;
}

.box-title{
    padding-top: 20px;
}

.box-img-first{
    width: 80%;
    padding-top: 55px;
}

.box-img{
    width: 80%;
    padding-top: 70px;
}

.bottom{
    width: 100%;
    min-height: 500px;
    background-image: url(../img/фото.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50px 0;
    margin-bottom: 40px;
}

.footer{
    width: 100%;
    min-height: 300px;
    background: url(../img/footer/фон_низ.png);
    background-size: 100%;
    margin-bottom: 40px;
}

.footer-title{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 137.21%;
    letter-spacing: 0.15em;
    text-align: center;
    border-bottom: 10px solid #FF6B00;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 6px;
}

.footer-nav{
   margin-top: 39px;
   margin: 0 auto;
}

.first-row{
    text-align: center;
    margin-bottom: 27px;
    padding-top: 39px;
}

.first-row a {
    padding: 0 200px 0 120px;
}

.second-row{
    text-align: center;
    margin-bottom: 12px;
}

.second-row a{
    padding: 0 225px 0 120px;
}

.social{
    text-align: center;
    margin: 20px;
}

.social a{
    margin: 0 15px;
    vertical-align: middle;
}