* {
    box-sizing:border-box;
}

body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

:root{
    font-size: 10px;
    --text-main-color: #000000;
    --bg-main-color:#FFFFFF;
    --nav-color:#FFFCFC;
    --form-color:#E5E5E5;
    --name-color: #FFFAFA;
    --card-hover-color:rgba(163, 83, 10, 0.7);
}

body{
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    font-weight: 700;
    background-color: var(--bg-main-color);
}

/* .navi{
    background-color: #000000;
    padding: 0;
}
.navbar-brand{
    align-self: stretch;
    margin: 0;
    padding: 0;
}
.navbar-brand img{
    height: 100%;
}
.nav-item{
    font-size: 3.2rem;
}
.nav-link{
    color: var(--nav-color);
} */

.header{
    height: 11vh;
    background-color: var(--text-main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0;
}

.header .logo{
    align-self: stretch;
}

.logo img{
    max-height: 100%;
    background: #FFFFFF;
}

.nav-menu{
    width: 60%;
    display: flex;
    justify-content: space-between;
    /* margin: 0;
    padding: 0; */
    margin-right: 3rem;
    font-size: 3.6rem;
}

.nav-menu a{
    color: var(--nav-color);
}

.nav-menu a:hover{
    text-decoration: underline;
}

/* screen 1 */
.screen{
    min-height: 90vh;
    overflow: hidden;
}

.gallery{
    height: 89vh;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.gallery img{
    width: 100%;
    margin-bottom: 5% ;
}

.left-images,
.right-images{
    width: 50%;
    display: flex;
}

.left-side,
.right-side{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2%;
}

.left-center,
.right-center {
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2%;
    transform: translateY(100vw);
}

.left-center{
    animation: img-show-left 1s linear 1 forwards;
}

.right-center{
    animation: img-show-right 1s linear 1 forwards;
}

.left-side,
.right-side{
    align-self: center;
    transform: translateY(-100vw);
}

.left-side{
    animation: img-show-left 2s linear 1 forwards;
}

.right-side{
    animation: img-show-right 2s linear 1 forwards;
}

/* screen 2  */
.services{
    display: flex;
}

.services .left{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.services .left > div{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.services img{
    width: 100%;
}

.services  p{
    font-size: 4.5rem;
    text-align: center;
}

.left-one{
    top: 0;
    left: 0;
    animation: circle-one 5s linear infinite;
}

.left-two{
    top: 0;
    left: 50%;
    animation: circle-two 5s linear infinite;
}

.left-three{
    top: 50%;
    left: 50%;
    animation: circle-three 5s linear infinite;
}

.left-four{
    top:50%;
    left:0;
    animation: circle-four 5s linear infinite;
}

.services .right{
    width: 50%;
}

.bgi{
    width: 100%;
    height: 100%;
    background-image: url(../img/services/right-image.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

/* screen 3 */
.team-title{
    color: var(--text-main-color);
    font-size: 8rem;
    text-align: center;
    margin: 2% 0 4%;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    /* height: 60vh; */
}

.cards > div{
    width: 23%;
    border-radius: 4rem;
    text-align: center;
    position: relative;
}

.cards img{
    width: 100%;
    min-height: 100%; 
}

.cards:hover > div{
    filter: brightness(.75);
}

.cards > div:hover{
    filter: none;
}

.cards .name{
    color: var(--name-color);
    font-family: 'Volkhov', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    position: absolute;
    background-color: var(--card-hover-color);
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .5s;
    border-radius: 0 0 4rem 4rem;
}

.cards > div:hover .name{
    height: 23%;
}

/* screen 4 */
.contact-top{
    width: 85%;
    margin: 3% auto 5%;
    display: flex;
    justify-content: space-around;
}
.contact-top h2{
    color: var(--text-main-color);
    font-size: 6.4rem;
    text-align: center;
    margin-bottom:5%;
}

.message{
    width: 55%;
}

.form{
    width:100%;
    display: block;
    background: var(--form-color) ;
}

.form-top{
    display: flex;
    justify-content: space-between;
}

.form-top input{
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.6rem;
    padding: 1rem;
    margin: 2rem;
    border: none;
}

.contact-name{
    width: 40%;
}

.contact-email{
    width: 60%;
}

.form-bottom{
    display: flex;
}

.form-bottom input{
    width:100%;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.6rem;
    padding: 1rem 1rem 12rem;
    margin: 2rem;
    border: none;
}

.map{
    width: 40%;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.contact-bottom{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.contact-bottom a{
    text-decoration: none;
    display: block;
    color: inherit;
}
.contact-bottom h3{
    font-style: normal;
    font-size: 3.5rem ;
}

.contact-bottom span{
    font-style: normal;
    font-weight: 700;
}

.opening h3{
    margin-bottom: 2rem;
}

.social-link{
    display: flex;
    justify-content: center;
}

.social-link p{
    text-align: left;
    padding-left: 1rem;
}
